<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container">
        <div class="trai">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Bàn</a></li>
                <li><a data-toggle="tab" href="#menu1">Menu </a></li>
                
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active" style="border: 5px; height: 100%;">
                    <h3>Bàn</h3>

                    <button type="button" class="btn btn-success" style="width: 14%">Bàn 1</button>
                    <button type="button" class="btn btn-default" style="width: 14%">Bàn 2</button>

                    <button type="button" class="btn btn-default" [routerLink]="" style="width: 14%">Bàn 3</button>

                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        4</button>

                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        5</button>

                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        6</button>
                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        7</button>


                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        8</button>


                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        9</button>



                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        10</button>

                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        11</button>

                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        12</button>

                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        13</button>

                    <button type="button" class="btn btn-default" [routerLink]="['']" style="width: 14%">Bàn
                        14</button>

                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Menu</h3>
                    <ng-container *ngFor="let item of lstMon">
                        <a href="">{{item.tenMon}}</a><br>

                    </ng-container>
    


                </div>
            </div>
        </div>
        <div class="phai">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#hoadon">Hóa đơn</a></li>
                <!-- <li><a data-toggle="tab" href="#menu2">Menu </a></li> -->
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active" style="border: 5px; height: 100%;">
                    <h3>Hóa đơn</h3>

                    <!-- <button type="button" class="btn btn-success" style="width: 14%">Bàn 1</button>
                    <button type="button" class="btn btn-default" style="width: 14%">Bàn 2</button> -->


                </div>
                <!-- <div id="menu2" class="tab-pane fade">
                    <h3>Menu</h3>


                </div> -->
            </div>
        </div>

    </div>

</body>

</html>