<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../danh-muc-mon-list/danh-muc-mon-list.component.css" />
</head>

<body>
    <div class="container">
        <br>
        <div class="locsanpham">
            <label style="font-size:large; font-weight: bold;" for="exampleFormControlSelect1">Loại thực đơn</label><br>
            <select class="form-control" id="exampleFormControlSelect1" style="font-size:medium;" [(ngModel)]="locMon">
                <option value="TAT_CA">Xem tất cả</option>
                <option value="TRASUA">Trà sữa</option>
                <option value="TRAVS">Trà váng sữa</option>
                <option value="TRATRAICAY">Trà trái cây</option>
                <option value="TRADAXAY">Trà đá xay</option>
                <option value="TOPPING">Topping </option>
            </select>
        </div>
        <div>
            <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">

                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                    aria-label="Search">
            </form>
        </div>
        <div class="listsanpham">
            <br>
            <button type="button" class="btn btn-success" [routerLink]="['/hanghoa/danhmucmon/add']"
                style="color: black; background-color: #FACC2E"> Thêm món mới</button>

            <button type="button" class="btn btn-success"> Xuất file</button>
            <br>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Danh mục món</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped  table-hover " cellspacing="0" width="100%"
                        style="text-align: center;">
                        <thead style="background-color: rgb(252, 213, 86);">
                            <tr>
                                <th>Mã hàng hóa</th>
                                <th>Tên hàng</th>
                                <th>Loại thực đơn</th>
                                <th>Giá bán</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td>1</td>
                                <td>Trà sữa trà đen</td>
                                <td>Trà sữa</td>
                                <td>20000</td>
                                <td>
                                    <a i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" style="color: black;"
                                        [routerLink]="['/hanghoa/danhmucmon/edit']"></a>
                                    &nbsp;
                                    <a i class="fa fa-trash-o fa-2x" aria-hidden="true" style="color: black;"
                                        [routerLink]=""></a>

                                </td>
                            </tr> -->
                            <ng-container *ngFor="let item of lstMon">
                                <ng-container *ngIf="getShowMon(item.maLoai)">
                                    <tr>
                                        <th scope="row">{{item.maMon}}</th>
                                        <td scope="row">{{item.tenMon}}</td>
                                        <td scope="row">
                                            {{item.maLoai==1 ? 'Trà sữa' : item.maLoai==2 ? 'Trà váng sữa' : item.maLoai==3 ? 'Trà trái cây' : item.maLoai==4 ?'Trà đá xay':'Topping'}}
                                        </td>
                                        <td scope="row">{{item.donGia | number}} đ</td>
                                        <td>
                                            <a i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"
                                                style="color: black;"
                                                [routerLink]="['/hanghoa/danhmucmon', item.maMon, 'edit']"></a>
                                            &nbsp;
                                            <a i class="fa fa-trash-o fa-2x" aria-hidden="true"
                                                style="color: black;"></a>

                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>