<p>dmmon-tm-kiem works!</p>
<table border="1" width="100" height="200">
    <tr>
        <td>
            <label>Loại món</label>
            <select name="Loại món"> 
                <option>Trà</option>
                <option>Trà sữa</option>
                <option>Trà trái cây</option>
            </select>
        </td>
    </tr>
</table>