<div class="form">
    <br>
    <form action="" method="POST" role="form">
        <legend>Chỉnh sửa chi tiết món</legend>
        <div class="form-group">
            <label for="">Tên hàng</label>
            <input type="text" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="">Loại thực đơn</label>
            <select name="" id="input" class="form-control" required="required" style="font-size: medium;">
                <option value="">---Lựa chọn---</option>
                <option value="">Trà</option>
                <option value="">Trà sữa</option>
                <option value="">Trà trái cây</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Giá bán</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Giá vốn</label>
            <input type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
    </div>