<br>
<div class="form">
<form action="" method="POST" role="form" >
    <legend> Chỉnh sửa chi tiết Nguyên Vật Liệu</legend>
    <div class="form-group">
        <label for="">Mã Nguyên vật liệu</label>
        <input type="number" class="form-control" [(ngModel)]="nguyenlieu.maNVL" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="">Nhà cung cấp</label>
        <select name="" id="input" class="form-control" required="required" style="font-size: medium;" [(ngModel)]="nguyenlieu.maNCC" [ngModelOptions]="{standalone: true}">
            <option value="1">Chú Hồng - 01 Trần Cao Vân</option>
            <option value="2">Chị Mai - 02 Phan Bội Châu</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Loại NVL</label>
        <select name="" id="input" class="form-control" required="required" style="font-size: medium;" [(ngModel)]="nguyenlieu.maLoai" [ngModelOptions]="{standalone: true}">
            <option value="1">Trà</option>
            <option value="2">Bột</option>
            <option value="3">Mứt</option>
            <option value="4">Syrup</option>
            <option value="5">Đường</option>
            <option value="6">Trân châu</option>
            <option value="7">Sữa đặc</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Tên Nguyên vật liệu</label>
        <input type="text" class="form-control" [(ngModel)]="nguyenlieu.tenNVL" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="">ĐVT</label>
        <input type="text" class="form-control" [(ngModel)]="nguyenlieu.DVT" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="">Đơn giá</label>
        <input type="number" class="form-control" [(ngModel)]="nguyenlieu.giaNVL" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="">Tồn kho</label>
        <input type="number" class="form-control" [(ngModel)]="nguyenlieu.tonKho" [ngModelOptions]="{standalone: true}">
    </div>

    <button type="submit" class="btn btn-primary" click="onEdit()">Lưu</button>
</form>
</div>