body{
    
  padding: 0;
  margin: 0;
  
}
.container{
 
  height: 100%;
}
.bentrai{
  
  width: 30%;
  float: left;
  padding: 0;
  margin-left: -18%;
  margin-top: 2%;
}
.noidung{
  
  width: 70%;
  float: right;
  
}