

.container{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    
}
.phanloai{
    float: left;
    height: 85%;
    width: 25%;
    font-family: sans-serif;
    border: 1pt;
    top: 18px;
    padding-top: 4%;
    
}
.phanloai ul{
    float: right;
    height: 100%;
    width: 250px;
    background: white;
    list-style-type: none;
    margin-top: -2px;
    text-decoration: none;
}
.phanloai ul li{
    width: auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid ;
    padding:  0 1em;
    text-align: center;
    text-decoration: none;
    color: black;
}
a {
    text-decoration: none;
}

.listNVL{
    float: right;
    height:100%;
    width: 70%;
    background:white;
padding-left: 4%;
}
.btn-success{
    float: right;
}
/* tr td :hover{
    background-color: rgb(29, 181, 231);
} */
ul li:hover {background: rgb(209, 208, 208);}

.radio{
    padding-left: 8%;
}
.locnguyenlieu{
    padding-left: 28%;
}
.tonkho{
    padding-left: 22%;

}