<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./danh-muc-nvl-list.component.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <br>
  <div class="container">
    <br>
    <!-- Left -->
    <div class="phanloai">
      <br>
      <div class="locnguyenlieu">
        <label style="font-size:large; font-weight: bold;" for="exampleFormControlSelect1">Loại nguyên liệu</label><br>
          <select class="form-control" id="exampleFormControlSelect1" style="font-size:medium;" [(ngModel)]="locNguyenLieu">
            <option value="TAT_CA">Xem tất cả</option>
            <option value="TRA">Trà</option>
            <option value="BOT">Bột</option>
            <option value="MUT">Mứt</option>
            <option value="SYRUP">Syrup</option>
            <option value="DUONG">Đường </option>
            <option value="TRANCHAU">Trân châu</option>
            <option value="SUADAC">Sữa đặc</option>
          </select>
        </div>
     
      <br>
      <!-- ton kho -->
      <div class="tonkho">
        <!-- <table  border="1" style=" padding-left: 9%; border-radius: 99px 12px 12px 12px;"> -->
          <div class="radio">
        <label for="exampleFormControlSelect1" style="font-size:large; font-weight: bold;">Tồn kho</label>
       
         <select class="form-control" id="exampleFormControlSelect1" style="font-size: medium;" [(ngModel)]="filterStatus">
           <option value="XEM_TAT_CA">Xem tất cả</option>
           <option value="CON_HANG">Còn hàng</option>
           <option value="HET_HANG">Hết hàng</option>
         </select>
       </div>

        <!-- </table> -->
      </div>
      <!-- tonkho -->
    </div>

    <!-- Left -->

    <!-- Phần list -->
    <div>
      <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">

        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" 
        [(ngModel)]="tenNVL" [ngModelOptions]="{standalone: true}" (input)="Search()">
      </form>

    </div>
    <!-- <div >
     Sẻach <input class="form-control" type="text" name="search" ng-model="searchText" >
    </div> -->

    <div class="listNVL">
      <br>

      <button type="button" class="btn btn-success" [routerLink]="['/hanghoa/danhmucNVL/add']"
        style="color: black; background-color: #FACC2E"> Thêm nguyên vật liệu</button>
      &ensp;

      <button type="button" class="btn btn-success" click="xuatFile()"> Xuất file</button>
      <br>
      <br>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Danh mục nguyên vật liệu</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped  table-hover " cellspacing="0" width="200%" style="text-align: center; width: 153%; ">
            <thead >
              <tr>
                <th>Mã NVL</th>
                <th>Nhà cung cấp</th>
                <th>Loại NVL</th>
                <th>Tên NVL</th>
                <th>ĐVT</th>
                <th>Đơn giá</th>
                <th>Tồn kho</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td>M01</td>
                <td>Công ty ABC</td>
                <td>Mứt</td>
                <td>Mứt xoài</td>
                <td>chai</td>
                <td>170.000</td>
                <td>5</td>
                <td>
                  <a i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" style="color: black;"
                    [routerLink]="['/hanghoa/danhmucNVL/edit']"></a>
                  &nbsp;
                  <a i class="fa fa-trash-o fa-2x" aria-hidden="true" style="color: black;" [routerLink]=""></a>

                </td>
              </tr>
              <tr>
                <td>B01</td>
                <td>Công ty ABC</td>
                <td>Bột</td>
                <td>Bột phô mai</td>
                <td>gói</td>
                <td>80.000</td>
                <td>4</td>
                <td>
                  <a i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" style="color: black;"
                    [routerLink]="['/hanghoa/danhmucNVL/edit']"></a>
                  &nbsp;
                  <a i class="fa fa-trash-o fa-2x" aria-hidden="true" style="color: black;" [routerLink]=""></a>

                </td>
              </tr> -->
              <ng-container *ngFor="let item of lstNguyenLieu ">
              <ng-container *ngIf="getShowNguyenLieu(item.maLoai)">
                <ng-container  *ngIf="getShowStatus(item.tonKho)">
                <tr style="text-align: center;">
                  <th scope="row">{{item.maNVL}}</th>
                  <td scope="row">{{item.maNCC==1? 'Chú Hồng 01 TCV' : 'Chị Mai 02 PBC'}}</td>
                  <td scope="row">{{item.maLoai == 1 ? 'Trà' : item.maLoai == 2 ? 'Bột' : item.maLoai == 3 ? 'Mứt': item.maLoai == 4 ? 'Syrup' : item.maLoai == 5 ? 'Đường' : item.maLoai == 6 ? 'Trân châu' : 'Sữa'}}</td>
                  <td scope="row">{{item.tenNVL}}</td>
                  <td scope="row">{{item.DVT}}</td>
                  <td scope="row">{{item.giaNVL | number}} đ</td>
                  <td scope="row">{{item.tonKho}}</td>
                  <td>
                    <a i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" style="color: black;"
                      [routerLink]="['/hanghoa/danhmucNVL', item.maNVL, 'edit']"></a>
                    &nbsp;
                    <button i class="fa fa-trash-o fa-2x" aria-hidden="true" style="color: black;" click="onDelete(item.maNVL)"></button>
                  </td>
                </tr>
                </ng-container>
              </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Phần list -->
  </div>
</body>